<!doctype html>
<html ng-app>
<head>
    <title>More on Directives</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<!-- 
    ng-cloak
    ng-switch
    ng-class
    ng-show
-->
<body 
 ng-init="data={name:'James', isVisible: true, loggedIn: false, status: 'navy'}">
    <div ng-cloak>
        <div ng-switch on="data.loggedIn">
            <div ng-switch-when="true" ng-class="data.status">
                Welcome {{ data.name }}
            </div>
            <div ng-switch-default ng-class="data.status">Login</div>
        </div>
        <br />
        <div ng-show="data.isVisible">
            Name: <input type="text" ng-model="data.name" /> 
            {{ data.name }}
        </div>
        
        <div  ng-init="fruitBasket=['mango', 'apple','orange','pinapple']">
         <h3>iterating data through the ng-reapt</h3>
             <ul>
                 <li ng-repeat ="fruits in fruitBasket" >{{fruits}}
                 
                 </li>
        </ul>
       </div>
        
        <div ng-init="people=[{name:'John', city:'Chandler'}, {name:'Tina', city:'New York'}, {name:'Dave', city:'Seattle'}]">
               <h3>Iterating Throgh Json Object</h3>
              <ul>
                  <li ng-repeat="person in people">{{ person.name }} {{ person.city }}</li>
              </ul>
        </div> 
        
        <table border="1">   
             <tr>
                 
                 <td>Name</td>
                 <td> City</td>
            
            </tr>
            <tr ng-repeat="person in people">
                 
                 <td>{{ person.name }}</td>
                 <td> {{ person.city }}</td>
            
            </tr>
        
        
        </table>
    </div>  
    <script src="angular.js"></script> 
</body>
</html>
